@model SimpleForum.Models.Message.MessageCreateModel

@using (Html.BeginForm()) 
{
    @Html.HiddenFor(model => model.TopicId)
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Your message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" onclick="createMessage(this, event)" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/message/createMessage.js")"></script>