@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <span>Hello!</span>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="javascript:void">@Html.Raw("Hello " + User.Identity.GetUserName() + "!")</a>
        </li>
        <li>
            <a href="#" onclick="logoff(this, event)">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}
<script type="text/javascript" src="@Url.Content("~/Scripts/account/logoff.js")"></script>