@using SimpleForum.Models.Topic
@using SimpleForum.Models.Message

@model SimpleForum.Models.Topic.TopicDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h1 class="display-1">@Model.Title</h1>
    <hr />
    <p>
        <em>
            @Model.Description
        </em>
    </p>
    <p>
        @Html.DisplayNameFor(model => model.CreatorLogin)
        @Html.DisplayFor(model => model.CreatorLogin)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.DateCreated)
        @Html.DisplayFor(model => model.DateCreated)
    </p>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <button data-toggle="collapse" data-target="#messageContainer" class="btn btn-primary">Leave a message</button>
        <div id="messageContainer" class="collapse">
            @{Html.RenderPartial("~/Views/Message/Create.cshtml", new MessageCreateModel { TopicId = Model.Id });}
        </div>
    }
    else
    {
        @Html.ActionLink("Leave a message", "Login", "Account", new { returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString()) }, new { @class = "btn btn-primary" })
    }
    @foreach (MessageListModel message in Model.Messages)
    {
        <div class="row">
            @if (User.Identity.IsAuthenticated && message.SenderLogin == User.Identity.Name)
            {
                <div class="col-md-1">
                    <button type="button" class="btn btn-info" onclick="displayMessage(@message.Id)" data-toggle="modal" data-target="#editMessageContainer">Edit</button>
                </div>
            }
            <div class="col-md-11">
                <blockquote class="blockquote">
                    <p class="mb-0">@message.Text</p>
                    <footer class="blockquote-footer">
                        @message.SenderLogin - @Html.DisplayFor(model => message.DateCreated)
                    </footer>
                </blockquote>
            </div>
        </div>
    }

    <div class="modal fade" id="editMessageContainer" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit your message</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>