@using SimpleForum.Models.Topic
@model IEnumerable<TopicListModel>

@{
    ViewBag.Title = "List";
}
<h1 class="h1">Topics</h1>
<hr />

<p>
    @Html.ActionLink("Create new topic", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<ul class="list-group">
    @foreach (TopicListModel topic in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h2">
                        @Html.ActionLink(topic.Title, "Details", new { id = topic.Id })
                    </h2>
                    <h4 class="h4">@topic.Description</h4>
                </div>
                <div class="col-md-3 pull-right">
                    <p>@Html.DisplayNameFor(model => model.CreatorLogin): @Html.DisplayFor(model => topic.CreatorLogin)</p>
                    <p>@Html.DisplayNameFor(model => model.DateCreated): @Html.DisplayFor(model => topic.DateCreated)</p>
                    <p>@Html.DisplayNameFor(model => model.DateOfLastMessage): @Html.DisplayFor(model => topic.DateOfLastMessage)</p>
                    <p>@Html.DisplayNameFor(model => model.MessagesCount): @Html.DisplayFor(model => topic.MessagesCount)</p>
                </div>
            </div>
        </li>
    }
</ul>
